<!DOCTYPE html>
<html lang="en"><head>
{% load staticfiles %}
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>a cup with.me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="acupwith.me" content="">
    <meta name="Brian Sang" content="">

    <!-- Le styles -->
    <link href="{% static 'cups/tester_files/bootstrap.css' %}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      special-text {
        color: #3a87ad;
      }
      hidden{
        display : none;
      }
    </style>
    <link href="{% static 'cups/tester_files/bootstrap-responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://i.imgur.com/LzMgie0.png">
                    <link rel="apple-touch-icon-precomposed" href="http://i.imgur.com/LzMgie0.png">
                                   <link rel="shortcut icon" href="http://i.imgur.com/LzMgie0.png">
  </head>

  <body>

    <div class="container">

      <div class="row-fluid">
        <div class="span12">
          <img src="http://i.imgur.com/IOUSP3m.png" alt="a cup with.me logo" style="width:600px;height:100px">
        </div>
      </div>

      <!-- New post and search dropdown -->
      <div class="row-fluid">
        <div class="span10">
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  Share a cup
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">


                      <form class="form-inline" action='{% url "add" %}' method="post">
                        {% csrf_token %}
                        <input type="text" class="input-large" placeholder="Name" name="name">
                        <select name="location">
                          {% for location in locs_list %}
                            <option value="{{location.id}}">{{location.location_name}}</option>
                          {% endfor %}
                        </select>
                        <input type="text" class="input-xlarge" placeholder="What are your interests?" name="topic">
                        <button type="submit" class="btn btn-primary">Pour</button>
                        <!-- <hidden> -->
                          <input type="text" class="input-xlarge" id="date">
                          <input type="text" id="time">
                          <script>
                            document.getElementById("date").value = getdate();
                          </script>
                        <!-- </hidden> -->
                      </form>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="span2">
          <div class="btn-group">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
              Search by shop
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- replace these with actual stuff that will modify the list shown -->
              <li> <a href="http://www.brewedcafe.com/">Brewed Awakenings</a></li>
              <li> <a href="http://www.peets.com">Peet's Coffee</a></li>
              <li> <a href="http://www.starbucks.com">Starbucks</a></li>
              <li> <a href="http://www.ashateahouse.com/">Asha Tea House</a></li>
            </ul>
          </div>
        </div>
      </div> <!-- /New post and search dropdown -->

<!-- Begin feed -->
      {% for cup in cups_list %}
      <div class="row-fluid">
        <div class="span12">
          <p>
          <span class="label label-info">{{cup.get_time}}</span>
          {{cup.lister_name}}
          <special-text>
          @
          </special-text>
          {{cup.location.location_name}}
          <special-text>
          Interested in:
          </special-text>
          {{cup.topic}}
          </p>
        </div>
      </div>  
      {% endfor %}      
 <!-- /feed -->

      <hr>

      <footer>
        <p>© Andy Li and Brian Sang, 2014. Contact us <special-text>@</special-text>
          the University of California, Berkeley.</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'cups/tester_files/jquery.js' %}"></script>
    <script src="{% static 'cups/tester_files/bootstrap-transition.js' %}"></script>
    <script src="{% static 'cups/tester_files/bootstrap-alert.js' %}"></script>
    <script src="{% static 'cups/tester_files/bootstrap-modal.js' %}"></script>
    <script src="{% static 'cups/tester_files/bootstrap-dropdown.js' %}"></script>
    <script src="{% static 'cups/tester_files/bootstrap-scrollspy.js' %}"></script>
    <script src="{% static 'cups/tester_files/bootstrap-tab.js' %}"></script>
    <script src="{% static 'cups/tester_files/bootstrap-tooltip.js' %}"></script>
    <script src="{% static 'cups/tester_files/bootstrap-popover.js' %}"></script>
    <script src="{% static 'cups/tester_files/bootstrap-button.js' %}"></script>
    <script src="{% static 'cups/tester_files/bootstrap-collapse.js' %}"></script>
    <script src="{% static 'cups/tester_files/bootstrap-carousel.js' %}"></script>
    <script src="{% static 'cups/tester_files/bootstrap-typeahead.js' %}"></script>

  

</body></html>